export(kMeans)
export(linearRegression)
export(logisticRegression)
export(svmTrain)
exportMethods("[")
exportMethods(plot)
importFrom(ggplot2,aes)
importFrom(ggplot2,aes_string)
importFrom(ggplot2,geom_abline)
importFrom(ggplot2,geom_contour)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_path)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,opts)
importFrom(ggplot2,xlab)
importFrom(ggplot2,ylab)
importFrom(methods,new)
importFrom(reshape2,melt)
importFrom(stats4,plot)
useDynLib(mlass)
